[submodule "moderngpu"]
	path = moderngpu
	url = https://github.com/moderngpu/moderngpu.git
[submodule "curand-done-right"]
	path = curand-done-right
	url = https://github.com/kshitijl/curand-done-right.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
