[submodule "moderngpu"]
	path = libs/moderngpu
	url = https://github.com/moderngpu/moderngpu.git
[submodule "curand-done-right"]
	path = libs/curand-done-right
	url = https://github.com/kshitijl/curand-done-right.git
[submodule "json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
